@import url("https://fonts.googleapis.com/css?family=Alata&display=swap");

* {
  margin: 0;
}

body {
  font-family: "Alata", sans-serif;
  /* text-align: center; */
}

header {
  width: 800px;
  background-color: rgb(170, 170, 170);
  padding-bottom: 50px;
}

h1 {
  text-align: center;
  position: relative;
  top: 40px;
  font-size: 4em;
}

.game-info {
  font-size: 2em;
  padding-right: 50px;
  position: relative;
  display: inline;
  top: 50px;
}

/* #out-of-bounds {
  height: 650px;
  width: 850px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(107, 20, 20);
  border: 2px solid black;
} */

/* #gameCanvas {
  height: 600px;
  width: 800px;
  background-color: rgb(25, 77, 47);
  border: 2px black dotted;
} */

/* #snake {
  height: 25px;
  width: 25px;
  background-color: black;
}

#apple {
  height: 25px;
  width: 25px;
  background-color: rgba(241, 56, 56, 0.753);
} */
